extends ./layout
      
block content
  .page
    .header(style="padding:2em 0;")
      h1.page_title(style="text-align:center;font-size:24px;color:#3CC51F;font-weight:400;margin:0 15%;") #{title}
      
    form(name="bind")
      .weui_cells_title 身份绑定
      .weui_cells.weui_cells_form
        .weui_cell
          .weui_cell_hd
            .weui_label 身份证
          .weui_cell_bd.weui_cell_primary
            input.weui_input(name='identity' placeholder='请输入注册时的身份证')
      .weui_cells_title 绑定成功后就可以自助查询您的面试结果啦~
    
    a.weui_btn.weui_btn_primary.submit.submit-bind(href='#') 提交

  script(src='/static/js/bundle.js')
