extends ./layout
      
block content
  .page
    .header(style="padding:2em 0;")
      h1.page_title(style="text-align:center;font-size:24px;color:#3CC51F;font-weight:400;margin:0 15%;") #{title}
      
    .weui_cells_title 您的微信已进行过绑定，绑定信息如下
    .weui_cells
      each cell in cells
        .weui_cell
          .weui_cell_hd.weui_cell_primary #{cell.key}
          .weui_cell_bd #{cell.value}
    
    a.weui_btn.weui_btn_primary.submit.submit-unbind(href='#') 解绑

  script(src='/static/js/bundle.js')
